
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>
    <div> 
        <form method="post">
            <p>Ввкдите имя</p> <input type="text" name="Person" /><br />
            <p>Введите адрес</p>  <input type="text" name="Adress" /><br />
            <input type="hidden" name="BookId" value="@ViewBag.Id"/>
            <input type="submit" value="Отправить"/>
        </form>
       
    </div>
</body>
</html>
