
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shou</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table border="0">
            <tr>
                <td><p>Название книги</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p><a href="/Home/Buy?idd=@b.Id">Купить</a></p></td>
                </tr>
            }

        </table>
        <br />
        <p><a href="/Home/Shou">Показать покупки</a></p>
        <br />
        @foreach (var b in ViewBag.Pokupki)
        {
            <p>@b.Person купил @b.BookId</p><br />

        }
    </div>
</body>
</html>
